@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

html, body{
  height: 100%;
  font-family: 'Roboto Slab', serif;
}

@keyframes bounce{
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(.5rem);
  }

  100% {
    transform: translateY(0);
  }
}

.top-header{
  background-color: white;
  color: black;
  box-shadow: 0 1px 10px rgb(100,100,100);
  transition: background 1s
}

.top-header .navbar-brand img{ width: 3rem; height: 3rem; }

.top-header form #inputSearch{ width: 80px; transition: 0.8s; }

.top-header form #inputSearch:hover{ width: 200px; }

.parallax{
  height: 100%;
  color: white;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

#section-1{
  background-image: url('../image/Business-Services-Header.png');
}

#section-1 h1{
  margin-top: 50px;
  font-size: 30pt;
}

#section-1 h5{
  font-size: 12pt;
}

#section-1 a{
  color: white;
  font-size: 4rem;
}

#section-1 a svg{
  width: 3.5rem;
  height: 3.5rem;
  animation: bounce 2s ease-in-out infinite;
}

#section-2{
  height: auto;
  background-image: url('../image/competitiveness_business-1024x691.png');
}

#section-2 h1{
  font-size: 2rem;
}

#section-2 p{
  font-size: 1rem;
}

#partnerships{
  color: white;
  background-color: rgb(50,50,50);
}

#contact{
  text-align: center;
}

#section-3{
  background-image: url('../image/O-que-e-um-Business-Plan.png');
}

footer{
  background-color: rgb(50,50,50);
}

footer, footer a{
  color: white;
}

/* width 530px */
@media screen and (min-width: 33em){
  #section-1 h1{
    margin-top: 0;
  }

  #section-1 a svg{
    width: 4.5rem;
    height: 4.5rem;
  }

  #about img{
    width: 400px;
  }
}

/* height 600px */
@media screen and (min-height: 37.5em){
  #section-1 h1{
    margin-top: 100px;
  }
}

/* medium and up width 640px */
@media screen and (min-width: 40em){
  #section-1 h1{
    margin-top: 100px;
  }

  #section-2 h1{
    font-size: 3rem;
  }

  #section-2 p{
    font-size: 1.4rem;
  }
}

/* width 960px */
@media screen and (min-width: 60em){
  #section-1 h1{
    margin-top: 130px;
    font-size: 35pt;
  }

  #section-1 h5{
    font-size: 13pt;
  }

  #section a{
    font-size: 40pt;
  }

  #about .sec-1,  #about .sec-2{
    padding-bottom: 170px;
  }

  #section-2{
    height: 300px;
  }
}

/* width 1280px */
@media screen and (min-width: 60em){
  #section-1 h1{
    margin-top: 150px;
  }

  #about .sec-1{
    padding-top: 70px;
  }

  #about img{
    width: 500px;
  }
}